confluex-functional-test/src/test/resources/test-performance-tools.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
">

    <vm:endpoint name="inbox" path="test.inbox"/>
    <vm:endpoint name="outbox" path="test.outbox"/>
    <flow name="TestPerformanceTools">
        <inbound-endpoint ref="inbox"/>
        <logger level="INFO" category="TestPerformanceTools" message="message received: #[payload]"/>
        <foreach>
            <component>
                <singleton-object class="com.confluex.mule.test.functional.components.SleepyComponent"/>
            </component>
            <set-payload value="Hello #[payload]"/>
            <logger level="INFO" category="TestPerformanceTools" message="sending message: #[payload]"/>
            <outbound-endpoint ref="outbox"/>
        </foreach>
    </flow>
</mule>