confluex-functional-test/src/test/resources/test-endpoint-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        ">


    <spring:beans>
        <spring:bean id="endpointLogger" class="com.confluex.mule.test.event.LoggingEndpointListener">
            <spring:property name="delimiter" value="|"/>
            <spring:property name="minLastSeen" value="100"/>
        </spring:bean>
    </spring:beans>

    <notifications dynamic="true">
        <notification event="ENDPOINT-MESSAGE" />
        <notification-listener ref="endpointLogger"/>
    </notifications>

    <vm:endpoint name="in" path="in" />
    <vm:endpoint name="out" path="out" />

    <flow name="Test Endpoint Listener">
        <inbound-endpoint ref="in"/>
        <logger level="INFO" message="Message content:  #[payload]"/>
        <outbound-endpoint ref="out"/>
    </flow>
</mule>
